<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">
    <head>
 		<title>예약 정보 확인</title>
    </head>
    <body class="d-flex flex-column">
        <div layout:fragment="content" class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
			<div>
			  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1"> 
			    호텔명
			    <span th:text="${ht_nm}" class="d-block small opacity-50"></span>
			  </label>
			  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios1">
			    이름
			    <span th:text="${rezName}" class="d-block small opacity-50 fs-3"></span>
			  </label>
			
			  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios2">
			    이메일
			    <span th:text="${rezEmail}" class="d-block small opacity-50 fs-3"></span>
			  </label>
			  
			  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios3">
			    전화번호
			    <span th:text="${rezNumber}" class="d-block small opacity-50 fs-3"></span>
			  </label>
			
			  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios4">
			    조식 여부
			    <span th:text="${rezBrekkie}" class="d-block small opacity-50 fs-3"></span>
			  </label>
			  
			  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios4">
			    날짜
			    <span th:text="${rezDate}" class="d-block small opacity-50 fs-3"></span>
			  </label>
			  
			  <label class="list-group-item rounded-3 py-3" for="listGroupCheckableRadios4">
			    객실
			    <span th:text="${rezRoom}" class="d-block small opacity-50 fs-3"></span>
			  </label>  
			</div>
			<div class="col-12 text-center">
				<a th:if="${rezName} != null" th:href="@{/confirm/remove}" ><button class="w-45 btn btn-dark btn-lg">예약 취소</button></a>
			</div>
		  
          	
          <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
          <script src="js/scripts.js"></script>
		
		</div>

    </body>
</html>
